asgiref==3.2.10
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0
django-auditlog==0.4.7
django-bootstrap-form==3.4
django-crispy-forms==1.9.2
django-firebird==1.11
django-jsonfield==1.4.1
django-sitemaps==1.1.1
fdb==2.0.1
firebirdsql==1.1.4
future==0.18.2
jsonfield==2.0.0
lxml==4.9.1
mypy==0.790
mypy-extensions==0.4.3
mysqlclient==2.0.1
Pillow==7.2.0
python-dateutil==2.6.0
python-decouple==3.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
whitenoise==5.2.0
