{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container" style="margin-top: 1%;">
  <p>
    <label>
      <a class="btn btn-outline-primary my-2 my-sm-0" href="{% url 'upload_arq' %}" >
      <b>Novo Arquivo</b>
      </a>
    </label>
  </p>
  <h2>Arquivos</h2>
  <form action=""  class="form-inline" style="margin-bottom: 2%;">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40"  id="pesquisa" name="pesquisa" placeholder="Título" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Pesquisar</button>
  </form>
  <hr>
  {% for arq in arqs %}
  <fieldset>
    <legend> <b>Dados do arquivo</b> </legend>
 
    <p>
      <label>Título:
        {{ arq.titulo }}
      </label>
    </p>
    <p>
      <label>Assunto:
        {{ arq.assunto }}
      </label>
    </p>

    <form method="post" action="{% url 'delete_arq' arq.pk %}">
      {% csrf_token %}
      <a href="{{ arq.arquivo.url }}" class="btn btn-outline-primary my-2 my-sm-0" target="_blank">
        Download
        </a>
      <a href="{% url 'update_arq' arq.id %}" style="text-decoration:none">
      <button class="btn btn-outline-info my-2 my-sm-0" type="button">
        Alterar
      </button>
    </a>
      <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
  </form>
<hr>
  </fieldset>
  {% endfor %}
</div>
{% endblock %}