{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  {% block content_header %}
    <h2>Arquivos</h2>
    <form action=""  class="form-inline" style="margin-bottom: 2%;">
      <div class="form-group">
        <label for="pesquisa" class="sr-only">Pesquisar</label>
        <input type="text" size="40"  id="pesquisa" name="pesquisa" placeholder="Título" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Pesquisar</button>
    </form>

    <a class="btn btn-outline-primary my-2 my-sm-0"
    href="{% url 'upload_arq' %}" >
      Upload arquivo
    </a>
  {% endblock %}
  <hr>
  {% for arq in arqs %}
  <fieldset>
    <legend> <b>Dados do arquivo</b> </legend>
    <p>
      <label>Imagem:
        {% if arq.imagem %}
          <img src="{{ arq.imagem.url }}" alt="{{ arq.titulo }}" style="width:100px;">
        {% else %}
          <span>No imagem</span>
        {% endif %}
      </label>
    </p>
    <p>
      <label>Título:
        {{ arq.titulo }}
      </label>
    </p>
    <p>
      <label>Assunto:
        {{ arq.assunto }}
      </label>
    </p>
    <p>
      <label>Download:
        <a href="{{ arq.arquivo.url }}" class="btn btn-outline-primary my-2 my-sm-0" target="_blank">
          Download Arquivo
        </a>
      </label>
    </p>
    <form class="form-inline my-2 my-lg-0" action="{% url 'delete_arq' arq.pk %}">
      {% csrf_token %}
      <p>
        <label>Deletar Arquivo:
      <!-- onclick deseja realmente deletar...-->
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Delete</button>
        </label>
      </p>
    </form>
    <hr>
  </fieldset>
  {% endfor %}
</div>
{% endblock %}
