<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>DevSys</title>
    <link rel="icon" href="{% static 'images/DEVSYS-FAVICON.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/business-frontpage.css' %}">

    <!--https://saeedalipoor.github.io/icono/-->
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>

<body>
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Sistema DEVSYS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bol_list' %}">
              <button type="button" class="btn btn-sm">
                Boletos
                <span class="icono-list" aria-hidden="true"></span>  
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chamado_list' %}">
              <button type="button" class="btn btn-sm">
              Chamados
              <span class="icono-file" aria-hidden="true"></span>
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">
                <button type="button" class="btn btn-sm">
                  <span class="icono-signOut" aria-hidden="true"></span>
                  Logout
                </button>
            <a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="content">
	{% block content %}{% endblock %}  <!--serve como place holder para colocar conteúdo -->
	<div class="footer" style="background-color: #2980B8; color: #000000">
        <p>Copyright &copy; Sistema DevSys Desenvolvimento de Sistemas {% now "Y" as current_year %} {{ current_year }}</p>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--Final do body-->
</body>
</html>
