<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DevSys</title>
    <link rel="icon" href="{% static 'images/DEVSYS-FAVICON.png' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>

<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
    <a class="navbar-brand" href="https://devsys.com.br/webmail">WebMail</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'funcionario' %}">MEUS DADOS <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ordem-servicos' %}">O.S.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'arq_list' %}">ARQUIVOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bol_clientes' %}">LANÇAMENTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'chamado_list_fun' %}">CHAMADOS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VENDAS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item" href="#">VENDAS</a> -->
            <a class="dropdown-item" href="{% url 'list_caixas' %}">CAIXAS</a>
            
            {% comment %}
            
            <a class="dropdown-item" href="{% url 'list_formas' %}">FORMAS</a>
            <a class="dropdown-item" href="{% url 'list_bancos' %}">BANCOS</a>
            <a class="dropdown-item" href="{% url 'list_contas' %}">CONTAS</a>
            <a class="dropdown-item" href="{% url 'list_subcontas' %}">SUBCONTAS</a>
            <a class="dropdown-item" href="{% url 'list_fecha_caixas' %}">FECHAMENTOS</a>
            <a class="dropdown-item" href="{% url 'list_con_empresas' %}">EMPRESAS</a>

            {% endcomment %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CADASTRAR USUÁRIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account:cadastrar_cliente' %}">CLIENTE</a>
            {% comment %}
            <a class="dropdown-item" href="{% url 'account:registrar_cliente' %}">CLIENTE</a>
            {% endcomment %}
            <a class="dropdown-item" href="{% url 'account:registrar_funcionario' %}">FUNCIONÁRIO</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_clientes' %}">CLIENTES</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><a href="{% url 'logout_user' %}" style="text-decoration: none; color: #e3f2fd;">LOGOUT</a></button>
      </form>

    </div>
  </nav>

  <div class="content">
    {% block content %}{% endblock %}  <!--serve como place holder para colocar conteúdo -->
    {% block scripts %}{% endblock scripts %}
    <div class="footer" style="background-color: #e3f2fd; color: #000000; text-align: center;">
          <p>Copyright &copy; Sistema DevSys Desenvolvimento de Sistemas 2006 -{% now "Y" as current_year %} {{ current_year }}</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!--Final do body-->
</body>
</html>
