{% extends 'base-cliente.html' %}

{% block content %}
<div class="container">
  <h2>Boletos/Arquivos</h2>
  <form action=""  class="form-inline" style="margin-bottom: 2%;">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Título" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Pesquisar</button>
  </form>
  <hr>
  {% for bol in bols %}
  <fieldset>
    <legend> <b>Dados do Arquivo/Boleto</b> </legend>

    <p class="text-xl-left font-weight-bold">
      <label>Título:
        {{ bol.titulo }}
      </label>
    </p>
    <p class="text-xl-left font-weight-bold">
      <label>Assunto:
        {{ bol.assunto }}
      </label>
    </p>
    <p class="text-xl-left font-weight-bold">    
        <a href="{{ bol.boleto.url }}" class="btn btn-outline-primary my-2 my-sm-0" target="_blank">
          Download Boleto/Arquivo
        </a>
    </p>
    <hr>
  {% endfor %}


{% endblock %}
