{% extends 'base-cliente.html' %}

{% block content %}
<div class="container" style="margin-top: 1%;">
  <p>
    <label>
      <a class="btn btn-outline-secondary my-2 my-sm-0" href="{% url 'criar_chamado' %}">
        <b>Novo Chamado</b>
      </a>
    </label>
  </p>
  <h2>Chamados</h2>
  <form action=""  class="form-inline my-2 my-lg-0">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Assunto" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="margin: 1%;">Pesquisar</button>
  </form>
  <hr>
  {% for chamado in chamados %}
  <fieldset>
    <legend> <b>Dados do Arquivo/Boleto</b> </legend>
    <p class="text-xl-left font-weight-bold">
      <label>Solicitante:
        {{ chamado.nome_cliente }}
      </label>
    </p>
    <p class="text-xl-left font-weight-bold">
      <label>Assunto:
        {{ chamado.assunto }}
      </label>
    </p>
    <p class="text-xl-left font-weight-bold">
      <label>Descrição:
        {{ chamado.descricao }}
      </label>
    </p>

    <form method="post" action="{% url 'delete_chamado' chamado.id %}">
      {% csrf_token %}
        {% if chamado.arquivo %}
        <a href="{{ chamado.arquivo.url }}" class="btn btn-outline-primary my-2 my-sm-0" target="_blank">
          Download
        </a>
        {% else %}
          <span>No arquivo</span>
        {% endif %}
        <a href="{% url 'update_chamado' chamado.id %}" style="text-decoration:none">
          <button class="btn btn-outline-info my-2 my-sm-0" type="button">
            Alterar
          </button>
        </a>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
    </form>
  <hr>
  </fieldset>
  {% endfor %}

</div>
{% endblock %}