{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h1>Clientes</h1>

  <form action=""  class="form-inline" style="margin-bottom: 2%;">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Nome" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="margin-left: 1%;">Pesquisar</button>
  </form>
<hr>
  {% for cliente in clientes %}
  <fieldset>
    <legend> <b>Dados do cliente</b> </legend>
    <p>
      <label>Referencial:
        {{ cliente.referencial }}
      </label>
    </p>
    <p>
      <label>Nome:
        {{ cliente.nome }}
      </label>
    </p>
    <p>
      <label>Telefone:
        {{ cliente.fone1 }}
      </label>
    </p>
    <p>
      <label>E-mail:
        {{ cliente.email }}
      </label>
    </p>
    <p>
      <label>Bloqueado:
        {{ cliente.bloqueado }}
      </label>
    </p>
      
    <form method="post" action="{% url 'delete_clientes' cliente.pk %}">
      {% csrf_token %}
      <a href="{% url 'update_clientes' cliente.id %}" style="text-decoration:none">
        <button class="btn btn-outline-info my-2 my-sm-0" type="button">
          Alterar
        </button>
      </a>
      <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
    </form>
  <hr>

  {% endfor %}

</div>
{% endblock %}