{% extends "base-cliente.html" %}

{% block content %}

<div class="container">
    <div class="container">
        <h2>Cliente</h2>
        <form action="submit" method="POST">{% csrf_token %}
            
            <fieldset>
                <legend>Dados do Cliente</legend>
                <p>
                    <label>Nome: <br>
                    <!--hidden fica escondido 'id'-->
                    <input type="number" name="id_cliente" value="{{ cliente.id }}" hidden> 
                    <input type="text" name="nome" size="30" value="{{ cliente.nome }}" required>
                    </label>
                </p>
                <p>
                    <label>Celular: <br>
                    <input type="tel" name="celular" size="30" value="{{ cliente.celular }}" required>
                    </label>
                </p>
            </fieldset>

            <fieldset>
                <legend>Endereço</legend>
                <p>
                    <label>Rua: <br>
                    <textarea name="endereco" rows="4" cols="34" required>{{ cliente.endereco }}</textarea>
                    </label>
                </p>
                <p>
                    <label>Cep: <br>
                    <input type="text" name="cep" size="22" value="{{ cliente.cep }}" required>
                    </label>
                </p>
                <p>
                    <label>Cidade: <br>
                    <input type="text" name="cidade" size="22" value="{{ cliente.cidade }}" required>
                    </label>
                </p>
                <p>
                    <label>
                        Estado: <br>
                        <select name="uf"> {{ cliente.uf }} <!--o que estiver no value vai ser salvo no banco, selected para deixar marcado-->
                            <option value="">Escolha um Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíbao</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP" selected>São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </label>
                </p>
                
            </fieldset>
            <div class="navbar-brand">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
                    <span class="icono-check" aria-hidden="true"></span>
                    Salvar
                </button>

                <a class="navbar-brand" href="{% url 'cliente' %}">
                    <button type="button" class="btn btn-outline-secondary my-2 my-sm-0">
                    Cancelar
                    </button>
                </a>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}