{% extends 'base-cliente.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <h2>Novo chamado</h2>
  <div class="container-fluid">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- para criar form um por um:
    {{form.descricao.errors}}
    <label>Descrição: </label>
    {{form.descricao}}
    ...
    -->
    {{ form.as_p }}

    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Criar chamado</button>
  </form>
  </div>
</div>
{% endblock %}