{% extends "base-funcionario.html" %}

{% block content %}

<div class="container" style="margin-top: 1%;">
  <p>
    <label>
      <a  href="{% url 'ordem-servico' %}">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
          <b>Nova O.S.</b>
        </button>
      </a>
    </label>
  </p>
  <h2>Ordens de Serviços</h2>
  <form action="" class="form-inline my-2 my-lg-0">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Escreva o Nome do Responsável" class="form-control" value="{{ request.GET.pesquisa }}">
    </div>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="margin: 1%;">Pesquisar</button>
  </form>

  {% for ordem_servico in ordem_servicos %} 
  
    {% if ordem_servico.usuario_os %} 
      {% if ordem_servico.confirmar %}
      <div style="background-color: #b6ccf4"> <!--#c6f6c6 verde claro-->
      {% endif%}
        <fieldset>
          <legend> <b>Dados da Ordem de Serviço</b> </legend>
          <p>
            <label>Data de Entrada:

            {{ ordem_servico.get_dt_entrada_os }}

            </label>
          </p>
          <p>
            <label>Data Atualizada:

            {{ ordem_servico.get_dt_atualizada_os }}

            </label>
          </p>
          <p>
              <label>Descrição:

              {{ ordem_servico.descricao }}
              
              </label>
          </p>
          <p>
            <div {% if ordem_servico.get_ordem_servico_atrasada %}
                style="color:red"
              {% endif %}>
            <label><strong>Data Agendada:</strong>

            {{ ordem_servico.get_dt_agenda_os }}

            </label>
            </div>
          </p>
          <p>
            <label>Data do Pagamento:
            {{ ordem_servico.get_dt_pagamento_os }}
            </label>
          </p>
          <p>
            <label>Responsável:

            {{ ordem_servico.responsavel }}

            </label>
          </p>
          <p>
            <label>Tipo(s) de Equipamento(s):

            {{ ordem_servico.equipamento }}

            </label>
          </p>
          <p>
            <label>Valor:

            {{ ordem_servico.valor }}

            </label>
          </p>
          <p>
            <label>Confirmada:
              {% if ordem_servico.confirmar %}
                  Sim
              {% else %}
                  Não
              {% endif %}
            </label>
            |
            <label>Finalizada:
              {% if ordem_servico.finalizar %}
                  Sim
              {% else %}
                  Não
              {% endif %}
          </p>

        </fieldset>

        {% if not ordem_servico.finalizar %}
          <a href="ordem-servico/?id={{ ordem_servico.id }}" style="text-decoration:none">
            <button class="btn btn-info" type="button">Editar
            </button>
          </a>
        {% endif %}
        <br>
        <hr>
      {% if ordem_servico.confirmar %}
      </div> 
      {% endif %}
    {% endif %}
  {% endfor %}

  <div class="paginator">
    <span class="step-links">
      {% if ordem_servicos.has_previous %}
        <a href="?page={{ ordem_servicos.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
      {% endif %}

      {% if ordem_servicos.paginator.num_pages %}
        <span class="current">
          {{ ordem_servicos.number }} de {{ ordem_servicos.paginator.num_pages }}
        </span>
      {% endif %}

      {% if ordem_servicos.has_next %}
        <a href="?page={{ ordem_servicos.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}