{% extends "base-funcionario.html" %}

{% block content %}

<div class="container">
    <h2>Bem Vindo(a)!</h2>
   <!-- IF se funcionário existir 'usuario_fun' mostra o conteúdo -->
        {% for funcionario in funcionario %}
          {% if funcionario.usuario_fun %}
          <fieldset>
            <legend>Dados do Funcionário</legend>
            <p>
              <label>Nome:
              {{ funcionario.nome }}
              </label>
            </p>
            <p>
                <label>Telefone:
                {{ funcionario.fone1 }}            
                </label>
            </p>
          </fieldset>

          <fieldset>
              <legend>Endereço</legend>
              <p>
                  <label>Rua:
                  {{ funcionario.endereco }}
                  </label>
              </p>
              <p>
                <label>Cidade:
                {{ funcionario.cidade }}
                </label>
              </p>
              <p>
                  <label>Cep:
                  {{ funcionario.cep }}
                  </label>
              </p>
              <p>
                <label>Estado:
                {{ funcionario.uf }}
                </label>
              </p>
 
          </fieldset>   
          {% comment %}
            Usa rota devsys/func/ da views.funcionario
          {% endcomment %}
          <a href="func/?id={{ funcionario.id }}" style="text-decoration:none">
            <button class="btn btn-info" type="button">Editar
            </button>
          </a>

          {% endif %}
        {% endfor %}
</div>
{% endblock%}