{% extends "base-funcionario.html" %}

{% block content %}

  

<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">

      <h2>Ordens de Serviços</h2>

      <a class="navbar-brand" href="/devsys/funcionario">
        <button type="button" class="btn btn-primary btn-sm">
          <span class="icono-caretLeftSquare" aria-hidden="true"></span>
          Voltar
        </button>
      </a>
      
      <a class="navbar-brand" href="{% url 'ordem-servico' %}">
        <button class="btn btn-primary btn-sm" type="button">
          Nova O.S.
          <span class="icono-plus" aria-hidden="true"></span>  
        </button>
      </a>
      
    <ul style="font-size: 20px">
        {% for ordem_servico in ordem_servicos %} 
        
          {% if ordem_servico.usuario_os %} 
          <div class="content-ribbon" style="margin: 0 -2em 0 -4em;">
            <fieldset>
              <legend> <b>Dados da Ordem de Serviço</b> </legend>
              <p>
                <label>Data de Entrada:

                {{ ordem_servico.get_dt_entrada_os }}

                </label>
              </p>
              <p>
                <label>Data Atualizada:

                {{ ordem_servico.get_dt_atualizada_os }}

                </label>
              </p>
              <p>
                  <label><strong>Data Agendada:</strong>

                  {{ ordem_servico.descricao }}
                  
                  </label>
              </p>
              <p>
                <div {% if ordem_servico.get_ordem_servico_atrasada %}
                    style="color:red"
                 {% endif %}>
                <label>Data Agendada:

                {{ ordem_servico.get_dt_agenda_os }}

                </label>
                </div>
              </p>
              <p>
                <label>Data do Pagamento:
                {{ ordem_servico.get_dt_pagamento_os }}
                </label>
              </p>
              <p>
                <label>Responsável:

                {{ ordem_servico.responsavel }}

                </label>
              </p>
              <p>
                <label>Tipo(s) de Equipamento(s):

                {{ ordem_servico.equipamento }}

                </label>
              </p>
              
            </fieldset>

            <a href="ordem-servico/?id={{ ordem_servico.id }}" style="text-decoration:none">
              <button class="btn btn-info btn-sm" type="button">Editar
                <span class="icono-rename" aria-hidden="true"></span>
              </button>
            </a> 
            <br><br>
          </div>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
 </div>
{% endblock %}