{% extends "base-cliente.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">

      <h2>Bem vindo(a)!</h2> 
       
      <!-- <a href="cliente/" style="text-decoration:none">
        <button type="button">Novo Cliente</button>
      </a>
    
      <a href="{% url 'devsys' %}" style="text-decoration: none;">
        <button type="button">&lt;&lt; Voltar</button>
      </a>-->
      
      <!--caminho-do-arquivo boleto no href
          Colocar para usar class Arq com upload de arquivos pdf para
        o cliente imprimir os boletos-->
    
    <!--IF se cliente existir 'usuario_cli' mostra os dados -->
    <ul style="font-size: 20px">
        {% for cliente in cliente %} 
          {% if cliente.usuario_cli %}
          <div class="content-ribbon" style="margin: 0 -2em 0 -4em;">
          <fieldset>
            <legend>Dados do Cliente</legend>
            <p>
              <label>Nome:
                {{ cliente.nome }}
              </label>
            </p>
            <p>
                <label>Telefone:
                {{ cliente.celular }}            
                </label>
            </p>
          </fieldset>

          <fieldset>
              <legend>Endereço</legend>
              <p>
                  <label>Rua:
                  {{ cliente.endereco }}
                  </label>
              </p>
              <p>
                <label>Cidade:
                {{ cliente.cidade }}
                </label>
              </p>
              <p>
                  <label>Cep:
                  {{ cliente.cep }}
                  </label>
              </p>
              <p>
                <label>Estado:
                {{ cliente.uf }}
                </label>
              </p>
              
          </fieldset>   
          <br>
          {% comment %}
            vai para o html cliente.html com o id do cliente
            verificar no sql shell ou sqlite se tem o ID
            Usa rota devsys/clie/ da views.cliente
          {% endcomment %}
          <a href="clie/?id={{ cliente.id }}" style="text-decoration:none">
            <button class="btn btn-info btn-sm" type="button">Editar
              <span class="icono-rename" aria-hidden="true"></span>
            </button>
          </a> 
          
          <!-- Cliente não deleta <a href="cliente/delete/{{ cliente.id }}/">
            <button type="button">Deletar</button>
          </a>-->
          </div>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}