{% extends "base-funcionario.html" %}

{% block content %}
<div class="container">
    <div class="container">
        <h2>Funcionário</h2>
        <form action="submit" method="POST">{% csrf_token %}
            
            <fieldset>
                <legend>Dados do Funcionário</legend>
                <p>
                    <label>Nome: <br>
                    <!--hidden fica escondido 'id'-->
                    <input type="number" name="id_funcionario" value="{{ funcionario.id }}" hidden> 
                    <input type="text" name="nome" size="30" value="{{ funcionario.nome }}" required>
                    </label>
                </p>
                <p>
                    <label>Telefone: <br>
                    <input type="tel" name="fone1" size="30" value="{{ funcionario.fone1 }}" required>
                    </label>
                </p>
            </fieldset>

            <fieldset>
                <legend>Endereço</legend>
                <p>
                    <label>Rua: <br>
                    <textarea name="endereco" rows="4" cols="34" required>{{ funcionario.endereco }}</textarea>
                    </label>
                </p>
                <p>
                    <label>Cep: <br>
                    <input type="text" name="cep" size="22" value="{{ funcionario.cep }}" required>
                    </label>
                </p>
                <p>
                    <label>Cidade: <br>
                    <input type="text" name="cidade" size="22" value="{{ funcionario.cidade }}" required>
                    </label>
                </p>
                <p>
                    <label>
                        Estado: <br>
                        <select name="uf"> {{ funcionario.uf }} <!--o que estiver no value vai ser salvo no banco, selected para deixar marcado-->
                            <option value="">Escolha um Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíbao</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP" selected>São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </label>
                </p>
                
            </fieldset>
            <div class="navbar-brand">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
                    <span class="icono-check" aria-hidden="true"></span>
                    Salvar
                </button>

                <a class="navbar-brand" href="{% url 'funcionario' %}">
                    <button type="button" class="btn btn-outline-secundary my-2 my-sm-0">
                    Cancelar
                    </button>
                </a>
            </div>
            
        </form>
    </div> 
</div>


{% endblock %}