{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- BARRA SUPERIOR TODOS OS DISPOSITIVOS E TODOS AS TELAS -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img height="20" alt="Brand" src="{% static 'images/DEVSYS-FAVICON.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'home' %}">ÍNICIO</a>
                </li>
                <li>
                    <a href="{% url 'sistema' %}">SISTEMA</a>
                </li>
              <!--  <li>
                    <a href="Clientes.html">CLIENTES</a>
                </li>
                <li>
                    <a href="galeria.html">GALERIA</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="#">DOWNLOADS</a>
                </li> -->
                <li>
                    <a href="{% url 'contact' %}">CONTATO</a>
                </li>
                <li>
                  <a href="{% url 'login_user' %}">ENTRAR</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- AREA SUPERIOR CENTRO -->
<div class="cover" id="1">
    <div class="background-image-fixed cover-image" style="background-image: url('../static/images/sistema-de-informacao.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-primary">DevSys</h1>
                <p class="text-primary">Desenvolvimento de Sistemas&nbsp;</p>
                <br>
                <a class="btn btn-lg btn-default" href="#2">Conheça Mais&nbsp;<i class="fa fa-fw fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- ************************************************************************************************ --> 

<!-- INFORMAÇÕES PARTE INFERIOR -->
<div class="section" id="2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-xs">
                <img src="{% static 'images/DEVSYS-ICON.png' %}" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-6 text-center">
                <h1 class="text-primary" style="color:purple;">Sistema de Controle Comercial&nbsp;</h1>
                <h3>Para Micro e Pequenas Empresas&nbsp;</h3>
                <br>
                <p>O sistema DevSys é destinado aos estabelecimentos preocupados em gerar
                    melhores resultados.</p>
                <p>Nosso objetivo é oferecer uma ferramenta simples e prática, capaz de agilizar
                    as operações comerciais e aperfeiçoar a gestão da sua empresa buscando
                    eficiência e produtividade.</p>
                <p>Nosso sistema atende diversos segmentos de mercado como comércio em geral,
                    transportadoras, restaurante e condomínios.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

