{% extends "base.html" %}

{% block content %}

    <!--<div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Uma simples plataforma para controle de estoque confiável para clientes e empresas. 
                    </h1>
                    <h2 class="splash-subhead">
                       O sistema DevSys visa controlar o seu estoque, emitir relatórios e notas fiscais.
                    </h2>
                    <p>
                        <a href="#sistema" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>-->
    
    <!-- AREA SUPERIOR CENTRO -->
    <div class="cover" id="1">
        <div class="background-image-fixed cover-image" style="background-image : url('../static/images/sistema-de-informacao.jpg')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-primary">DevSys</h1>
                    <p class="text-primary">Desenvolvimento de Sistemas&nbsp;</p>
                    <br>
                    <a class="btn btn-lg btn-default" href="#sistema">Conheça Mais&nbsp;<i class="fa fa-fw fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Vídeos e foto</h4>
                    <h3>Publique aqui</h3>
                    <p>
                        Sistema simples e prático.
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="DevSys">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys_comercial.jpg"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com o atendente</h3>
                    <p>
                        Atendimento de forma exclusiva com seu próprio fórum no sistema do site para interagir com o responsável do atendimento.
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Documentos</h4>
                    <h3>Crie seu fórum</h3>
                    <p>
                        O controle de satisfação é feito pela plataforma do site, facilitando sua vida.
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/devsys-func.png"
                         alt="Usuários">
                </div>
            </div>
        </div>
        <br>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie seu contato diretamente para receber um orçamento</h3>
                    <p>
                        <a href="https://www.devsys.com.br/contato" style="text-decoration: none;
                         color: blueviolet;"><b>devsys.com.br/contato</b></a>
                    </p>
                </div>
            </div>
        </div>
        
        <!-- INFORMAÇÕES PARTE INFERIOR -->
        <br id="sistema">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="../static/images/logo-novo.bmp"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                <h3>Para Micro e Pequenas Empresas&nbsp;</h3>
                        <br>
                        <p>O sistema DevSys é destinado aos estabelecimentos preocupados em gerar
                            melhores resultados.</p>
                        <p>Nosso objetivo é oferecer uma ferramenta simples e prática, capaz de agilizar
                            as operações comerciais e aperfeiçoar a gestão da sua empresa buscando
                            eficiência e produtividade.</p>
                        <p>Nosso sistema atende diversos segmentos de mercado como comércio em geral,
                            transportadoras, restaurante e condomínios.</p>
                </div>
            </div>
        </div>

        <!-- Endereco DevSys -->
        <div class="pure-g-r content-ribbon">
           <div class="pure-u-1-3">
               <div class="l-box">
                   <h3 class="content-subhead">DevSys</h3>
                   <p>CAMPOS DO JORDÃO - SP
                   <br>RUA BRIGADEIRO JORDÃO, 1045 - VILA ABERNESSIA
                   <br>contato@devsys.com.br</p>
                  <p>(12)3664-2503</p>
               </div>
           </div>
           <div class="pure-u-2-3">
             <div class="l-box"> 
               <div class="pure-hidden-sm pure-hidden-xs">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7627935085948!2d-45.58893579999999!3d-22.73705639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc89ce5569250d%3A0xf496b20638529a34!2sR.+Brg.+Jord%C3%A3o%2C+1045+-+Abern%C3%A9ssia%2C+Campos+do+Jord%C3%A3o+-+SP%2C+12460-000!5e0!3m2!1spt-BR!2sbr!4v1490885401914" width="200" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
               </div>
             </div>
           </div>
        </div>
        
        <script>
            document.addEventListener("scroll", function(){
                document.querySelector("#paralax").style.backgroundPosition = 'center '+window.pageYOffset+'px';
             });
        </script>

        <!-- SCRIPT GOOGLE ANALYTICS -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-87671989-1', 'auto');
                    ga('send', 'pageview');
        </script>
    </div>    
{% endblock %}

