{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h1>Bancos</h1>

  <form action=""  class="form-inline" style="margin-bottom: 2%;">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Banco" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="margin-left: 1%;">Pesquisar</button>
  </form>
<hr>
  {% for banco in bancos %}
  <fieldset>
    <legend> <b>Dados do Banco</b> </legend>
    <p>
      <label>Referencial:
        {{ banco.referencial }}
      </label>
    </p>
    <p>
      <label>Nome:
        {{ banco.banco }}
      </label>
    </p>
    <p>
      <label>Número:
        {{ banco.n_banco }}
      </label>
    </p>
    <p>
      <label>Agência:
        {{ banco.n_agencia }}
      </label>
    </p>
    <p>
      <label>Número da conta:
        {{ banco.n_conta }}
      </label>
    </p>
    <p>
      <label>Dígito da conta:
        {{ banco.digito_conta }}
      </label>
    </p>
      
  <hr>

  {% endfor %}

</div>
{% endblock %}