{% extends 'base-funcionario.html' %}

{% block content %}
<div class="container">
  <h1>Formas</h1>

  <form action=""  class="form-inline" style="margin-bottom: 2%;">
    <div class="form-group">
      <label for="pesquisa" class="sr-only">Pesquisar</label>
      <input type="text" size="40" id="pesquisa" name="pesquisa" placeholder="Nome" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" style="margin-left: 1%;">Pesquisar</button>
  </form>
<hr>
  {% for forma in formas %}
  <fieldset>
    <legend> <b>Dados da Forma</b> </legend>
    <p>
      <label>Referencial:
        {{ forma.referencial }}
      </label>
    </p>
    <p>
      <label>Nome:
        {{ forma.nome }}
      </label>
    </p>
    <p>
      <label>tipo:
        {{ forma.tipo }}
      </label>
    </p>
      
  <hr>

  {% endfor %}

  <div class="paginator">
    <span class="step-links">
      {% if formas.has_previous %}
        <a href="?page={{ formas.previous_page_number }}"> <i class="fas fa-arrow-left"></i> </a>
      {% endif %}
  
      {% if formas.paginator.num_pages %}
        <span class="current">
          {{ formas.number }} de {{ formas.paginator.num_pages }}
        </span>
      {% endif %}
  
      {% if formas.has_next %}
        <a href="?page={{ formas.next_page_number }}"> <i class="fas fa-arrow-right"></i> </a>
      {% endif %}
    </span>
  </div>

</div>
{% endblock %}