<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>DevSys</title>
    <link rel="icon" href="{% static 'images/DEVSYS-FAVICON.png' %}">
    <!--####Incluindo para background-image####-->
    <script type="text/javascript" src="{% static 'js/plugin.min.js' %}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{% static 'css/less.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/les.css' %}" rel="stylesheet" type="text/css">
    <!--####-->

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    
    <!-- Custom styles for this template -->
    <!-- <link rel="stylesheet" href="{% static 'css/business-frontpage.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> -->

    <!--https://saeedalipoor.github.io/icono/-->
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>

<body>
<!-- BARRA SUPERIOR TODOS OS DISPOSITIVOS E TODOS AS TELAS -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img height="30" alt="Brand" src="{% static 'images/DEVSYS-FAVICON.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'home' %}">ÍNICIO</a>
                </li>
                <li>
                <li>
                    <a href="{% url 'sistema' %}">SISTEMA</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">CONTATO</a>
                </li>
                <li class="active">
                  <a href="{% url 'login_user' %}">ENTRAR</a>
                </li>
            </ul>
        </div>
    </div>
</div>

  <section class="container-fluid">
    <section class="row justify-content-center">
      <section class="col-md-12 text-center">
        <form class="form-cotainer" action="submit" method="POST" autocomplete="off">{% csrf_token %}
          <br> <br> <br> 
        <div class="container">
          <div class="form-group">
            <label style="font-size: 25px;">Usuário:
              <input type="text" class="form-control" name="username" size="37" placeholder="Name" aria-describedby="userHelp">
            </label>
            <br>
            <small id="userHelp" class="form-text text-muted">We'll never share your user and password with anyone else.</small>
            <br>
            <label style="font-size: 25px;">Senha:
              <input type="password" class="form-control" name="password" id="myInput" size="37" placeholder="Password">
            </label>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="myFunction()">Check me out
            </label>
          </div>
          <!-- block ou default? -->
          <button type="submit" class="btn btn-primary btn-default">Entrar</button>
          
          <button type="button" class="btn btn-primary btn-default" onclick="location.href='/'">Cancelar</button>
          <br><br>

          <div style="text-align: center">
            <a href="/">
              <img src="{% static 'images/Logo.jpg' %}" width="100px" alt="logo">
            </a>
          </div>
        </div>
        </form>
        {% for message in messages %}
          <div align="center" style="color: red;">
            &emsp;&emsp; 
            <strong>Erro: </strong>{{ message }}
          </div>
        {% endfor %}
        <br><br>
      </section>
    </section>
  </section>
  <script src="{% static 'js/main.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- RODAPÉ INFERIOR PARA TODOS -->
<footer class="section section-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="text-center">DevSys&nbsp;</h1>
        <p class="text-center">CAMPOS DO JORDÃO - SP
          <br>RUA BRIGADEIRO JORDÃO, 1045 - VILA ABERNESSIA
          <br>contato@devsys.com.br</p>
        <p class="text-center">(12) 3664-2503</p>
      </div>
      <div class="col-sm-6 hidden-sm hidden-xs">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7627935085948!2d-45.58893579999999!3d-22.73705639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc89ce5569250d%3A0xf496b20638529a34!2sR.+Brg.+Jord%C3%A3o%2C+1045+-+Abern%C3%A9ssia%2C+Campos+do+Jord%C3%A3o+-+SP%2C+12460-000!5e0!3m2!1spt-BR!2sbr!4v1490885401914" width="600" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
      <div class="col-sm-6 hidden-lg hidden-md text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7627935085948!2d-45.58893579999999!3d-22.73705639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc89ce5569250d%3A0xf496b20638529a34!2sR.+Brg.+Jord%C3%A3o%2C+1045+-+Abern%C3%A9ssia%2C+Campos+do+Jord%C3%A3o+-+SP%2C+12460-000!5e0!3m2!1spt-BR!2sbr!4v1490885401914" width="250" height="150" frameborder="0" style="border:0" class="hidden-lg"></iframe>
      </div>
      <!-- <h6 class="text-center">Site desenvolvido por Leonardo Procópio. E-mail: procopio@valewebdesign.com.br</h6> -->
    </div>
  </div>
</footer>

<!-- ************************************************************************************************ -->

  <div class="footer" style="background-color: #2980B8; color: #000000; text-align: center;">
          <p>Copyright &copy; Sistema DevSys Desenvolvimento de Sistemas {% now "Y" as current_year %} {{ current_year }}</p>
  </div>

<!-- SCRIPTS INÍCIO -->
<script>
$(function(){   
                var nav = $('#menuHeader');   
                $(window).scroll(function () { 
                    if ($(this).scrollTop() > 250) { 
                    nav.addClass("menu-fixo"); 
                    } else { 
                    nav.removeClass("menu-fixo"); 
                    } 
                });  
                });
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87671989-1', 'auto');
            ga('send', 'pageview');

</script>
<!-- SCRIPTS FIM -->

</body>
</html>
