{% extends "base-funcionario.html" %}

{% block content %}

<div class="container">

    <h2>Ordem de Serviço</h2>
    <!--hidden fica escondido-->
    <form action="submit" method="POST">{% csrf_token %}
        <fieldset>
        <div class="container-fluid">
            <legend>Dados da Ordem de Serviço</legend>
            <!--<p> não está entrando - pega 'auto_now_add'
                <label>Data de Entrada:
                <input type="datetime-local" name="dt_entrada" value=" ordem_servico-get.dt_entrada_input_os " required>
            </label>
            </p>-->
            
            <!--****Precisa de id para editar****-->
            <input type="number" name="id_ordem_servico" value="{{ ordem_servico.id }}" hidden>
            <p>
                <label>Descrição:
                    <br>
                    <!--textarea a variável tem que estar entre o maior e menor > < -->
                <textarea name="descricao" rows="4" cols="34"  required>{{ ordem_servico.descricao }}</textarea>
                </label>
            </p>
            <p>
                <label> <strong>Data Agendada:</strong>

                    <input type="datetime-local" name="dt_agenda" value="{{ ordem_servico.get_agenda_input_os }}" required>

                </label>
            </p>
            <p>
                <label>Data do Pagamento: <!--Fazer def get_pagamento_input_os em model para entrada e mostrar... -->

                    <input type="date" name="dt_pagamento" value="{{ ordem_servico.get_pagamento_input_os }}" required>

                </label>
            </p>
            <p>
                <label>Responsável:

                    <input type="text" name="responsavel" size="30" value="{{ ordem_servico.responsavel }}" required>

                </label>
            </p>
            
            <p>
                <label for="equipamento"> Equipamentos: </label><br>
                <textarea id="equipamento" name="equipamento" rows="4" cols="34"  required>{{ ordem_servico.equipamento }}</textarea>
            </p>

            <div class="navbar-brand">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">
                    Salvar
                </button>
    
            </div>
        </div>
        </fieldset>     
    </form>
</div>
{% endblock %}