{% extends "base-funcionario.html" %}

{% block content %}

<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="content-ribbon" style="margin: 0 -2em 0 -2em;">
        <h2>Ordem de Serviço</h2>
        <!--hidden fica escondido-->
        <form action="submit" method="POST">{% csrf_token %}
            <fieldset>
                <legend>Dados da Ordem de Serviço</legend>
                <!--<p>
                    <label>Data de Entrada:

                    <input type="number" name="id_ordem_servico" value="{{ ordem_servico.id }}" hidden> 
                    <input type="datetime-local" name="dt_entrada" value="{{ ordem_servico.get_data_input_os }}" required>

                </label>
                </p>-->
                <p>
                    <label>Descrição:

                        <!--textarea a variável tem que estar entre o maior e menor > < -->
                    <textarea name="descricao" rows="4" cols="34"  required>{{ ordem_servico.descricao }}</textarea>

                </label>
                </p>
                <p>
                    <label>Data Agendada:

                        <input type="datetime-local" name="dt_agenda" value="{{ ordem_servico.get_agenda_input_os }}" required>

                    </label>
                </p>
                <p>
                    <label>Data do Pagamento: <!--Fazer def get_pagamento_input_os em model para entrada e mostrar... -->

                        <input type="date" name="dt_pagamento" value="{{ ordem_servico.get_pagamento_input_os }}" required>

                    </label>
                </p>
                <p>
                    <label>Responsável:

                        <input type="text" name="responsavel" size="30" value="{{ ordem_servico.responsavel }}" required>

                    </label>
                </p>
                
                <p>
                    <label for="equipamento"> Equipamentos: </label><br>
                    <textarea id="equipamento" name="equipamento" rows="4" cols="34"  required>{{ ordem_servico.equipamento }}</textarea>
                </p>

                <br>
                
            </fieldset>     
            <div class="navbar-brand">
                <button type="submit" class="btn btn-primary btn-sm">
                    <span class="icono-check" aria-hidden="true"></span>
                    Salvar
                </button>

                <a class="navbar-brand" href="{% url 'ordem-servicos' %}">
                    <button type="button" class="btn btn-primary btn-sm">
                    <span class="icono-cross" aria-hidden="true"></span>
                    Cancelar
                    </button>
                </a>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}