<!-- Nova Aba sistema -->
<!-- O Sistema -->
{% extends "base.html" %}

{% block content %}
    <div class="cover" id="1">
        <div class="background-image-fixed cover-image" style="background-image : url('../static/images/projeto.jpg')"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="color: rgb(66, 51, 66);">Sistemas DevSys</h1>
                    <p class="text-primary">Desenvolvimento de Sistemas</p>
                    <br>
                    <a class="btn btn-lg btn-default" href="#modulos">Conheça os Módulos&nbsp;<i class="fa fa-fw fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>


        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">O SISTEMA</h1>
                        <p class="lead text-center">O sistema DevSys foi planejado para trazer simplicidade para controlar
                            os processos internos e eficiência para gerenciar a sua empresa, de acordo
                            com as regulamentações do Governo Estadual que constam no Art.º 123. Trazendo
                            assim mais segurança e transparencia fiscal para sua empresa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr id="modulos">
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-xs section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="content-subhead"><strong>Módulos do Sistema DevSys</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-xs section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../static/images/DEVSYS-450.png" class="img-responsive img-rounded">
                        <h2 class="text-center">Módulo de Cadastros</h2>
                        <p class="lead text-justify">Estoque, Fornecedores, Clientes, Terceiros e Funcionários.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/DEVSYS-450.png" class="img-responsive img-rounded">
                        <h2 class="text-center">Lançamentos e Relatórios</h2>
                        <p class="lead text-justify">Vendas, Prestação de Serviços, Caixa, Contas a Receber, Entrada de Mercadorias,
                            Contas a Pagar e Folha de Pagamento, totalizador financeira.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/DEVSYS-450.png" class="img-responsive img-rounded">
                        <h2 class="text-center">Ferramentas</h2>
                        <p class="lead text-justify">Auditoria (registra as operações efetuadas pelos usuários), Backup Automático,Integração
                            com diversos Periféricos e Agenda Telefônica.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/DEVSYS-450.png" class="img-responsive img-rounded">
                        <h2 class="text-center">Diferencial</h2>
                        <p class="lead text-justify">Customizações e Personalizações podem ser feitas para atender a necessidades
                            específicas do seu negócio.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../static/images/DEVSYS-450.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h3 class="media-heading">Módulo de Cadastros</h3>
                                    <p>Estoque, Fornecedores, Clientes, Terceiros e Funcionários.</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-body">
                                <a class="pull-left" href="#"><img class="media-object" src="../static/images/DEVSYS-450.png" height="64" width="64"></a>
                                    <h3 class="media-heading">Lançamentos e Relatórios</h3>
                                    <p>Vendas, Prestação de Serviços, Caixa, Contas a Receber, Entrada de Mercadorias,
                                        Contas a Pagar e Folha de Pagamento, totalizador financeira.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../static/images/DEVSYS-450.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h3 class="media-heading">Ferramentas</h3>
                                    <p>Auditoria (registra as operações efetuadas pelos usuários), Backup Automático,Integração
                                        com diversos Periféricos e Agenda Telefônica.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#"><img class="media-object" src="../static/images/DEVSYS-450.png" height="64" width="64"></a>
                                <div class="media-body">
                                    <h3 class="media-heading">Diferencial</h3>
                                    <p>Customizações e Personalizações podem ser feitas para atender a necessidades
                                        específicas do seu negócio.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
