{% extends "base-funcionario.html" %}
{% load my_filters %}

{% block content %}
<div class="container">
    <div class="container">
        <h2>DEVSYS DESENVOLVIMENTO DE SISTEMAS</h2>
        <form action="submit" method="POST">{% csrf_token %}
            <fieldset>
                <legend>Fechamento de Caixa</legend>
                <p>
                    <label>Abertura do Caixa <br>
                        Data: {{ caixa.get_dt }}
                    </label>
                    <br>
                    <!-- <label>
                        Abertura: {{ funcionario.nome }}
                    </label> -->
                    <br>
                    <label>
                        Caixa Nº: {{ caixa.referencial }}
                    </label>
                    <br>
                    <label>
                        Total de comandas: {{ total }}
                    </label>
                    <br>
                    <label>
                        Troco: R$ {{ sum_troco | currency }}
                    </label>
                </p>
                <legend>RECEBIMENTOS</legend>
                <p>
                    <label>
                        DINHEIRO: R$ {{ sum_r_dinheiro | currency }}
                    </label>
                    <br>
                    <label>
                        VISA ELECTRON: R$ {{ sum_r_v_e | currency }}
                    </label>
                    <br>
                    <label>
                        CARTEIRA: R$ {{ sum_r_carteira | currency }}
                    </label>
                    <br>
                    <label>
                        Desconto: R$ {{ sum_r_desconto | currency }}
                    </label>
                    <br> <br>
                    <label>
                        Débito: R$ {{ sum_d | currency }}
                    </label>
                    <br>
                    <label>
                        Credito: R$ {{ sum_c | currency }}
                    </label>
                    <br>
                    <label>
                        Saldo: R$ {{ sum_s | currency }}
                    </label>
                    <br> <br>
                    <label>
                        Gaveta: R$ {{ gaveta | currency }}
                    </label>
                </p>

               <legend>RETIRADAS</legend>
                <p>
                    <!--  if sum_total_dinheiro  -->
                    <label>
                        Em Dinheiro:<!-- Em: {{ forma_dinheiro }}  -->
                    </label>
                    <br>
                    <label>
                        Total: R$ {{ sum_total_dinheiro }}
                    </label>
                    <!--  endif  -->
                </p>
                <p>
                    <!--  if sum_total_cheque  -->
                    <label>
                        Em Cheque:<!-- Em: {{ forma_cheque }}  -->
                    </label>
                    <br>
                    <label>
                        Total: R$ {{ sum_total_cheque }}
                    </label>
                    <!--  endif  -->
                </p>
                <!-- <legend>SETORES</legend>
                <p>
                    <label>
                        INSUMOS: ---
                    </label>
                    <br>
                    <label>
                        SERVIÇOS: ---
                    </label>
                </p> -->
                <legend>RECEBIMENTO DE CONTAS</legend>
                <p>
                    <label>
                        Valor Recebido: R$ {{ sum_rec_contas | currency }}
                    </label>
                </p>

               
            </fieldset>

            <div class="navbar-brand">

                <a class="navbar-brand" href="{% url 'list_caixas' %}">
                    <button type="button" class="btn btn-outline-primary my-2 my-sm-0">
                    Voltar
                    </button>
                </a>
            </div>
            
        </form>
    </div> 
</div>


{% endblock %}