{% extends 'base-funcionario.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Upload de funcionario para cliente-->
<div class="content-ribbon">
  <h2>Upload boleto</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="pure-button pure-button-primary">Upload boleto</button>
  </form>
  <br>
  <p>
    <a href="{% url 'todos_clientes' %}"  class="pure-button pure-button-primary">Cancelar</a>
  </p>
</div>
{% endblock %}
