{% extends "base-funcionario.html" %}

{% block content %}

{% comment %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="content-ribbon" style="margin: 0 -2em 0 -2em;">
            <h2>Clientes</h2>
            <div class="pure-u-1">
                {% for cliente in clientes %}
                    <ul>
                        <li>
                        {{ cliente.nome }} 
                        <a class="navbar-brand pure-button pure-button-primary"
                            href="{% url 'upload_bol' %}" >
                            <span class="icono-document" aria-hidden="true"></span>
                            Upload boleto
                        </a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div> 
    </div>
</div>
{% endcomment %}

<!--#########################-->
<div class="content-ribbon">
    {% block content_header %}
      <h2>Lançamento de Boleto para Clientes</h2>
    {% endblock %}
    <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                <th>Clientes</th>
                <th>Upload</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>
                        <a class="navbar-brand pure-button pure-button-primary"
                        href="{% url 'upload_bol' %}" >
                        <span class="icono-document" aria-hidden="true"></span>
                        Upload boleto
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--##########################################-->

{% endblock %}