{% extends 'base-funcionario.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!--Upload de funcionario para cliente-->
<div class="content-ribbon">
  <h2>Upload boleto</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <!--O caminho para cadastrar ForeinKey é usar o ID-->
    <p>
      <label>ID Cliente:
          <select type="number" name="id" >
              {% for cliente in cliente %}
              <option value="{{ cliente.id}}">{{ cliente.id}}</option>
              {% endfor %}
          </select>
      </label>
    </p>
    <button type="submit" class="pure-button pure-button-primary">Upload boleto</button>
  </form>
  <br>
  <p>
    <a href="{% url 'todos_clientes' %}"  class="pure-button pure-button-primary">Cancelar</a>
  </p>
</div>
{% endblock %}
