{% extends "base-funcionario.html" %}

{% block content %}
<!--################-->
<div class="content-ribbon">
    {% block content_header %}
      <h2>Pesquisa de Lançamentos de Boletos/Arquivos</h2>
      <form action=""  class="form-inline" style="margin-bottom: 2%;">
        <div class="form-group">
          <label for="pesquisa" class="sr-only">Pesquisar</label>
          <input type="text" size="40"  id="pesquisa" name="pesquisa" placeholder="Título" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 1%;">Pesquisar</button>
      </form>
    {% endblock %}
    <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Upload</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a class="navbar-brand pure-button pure-button-primary"
                        href="{% url 'upload_bol' %}" >
                        <span class="icono-document" aria-hidden="true"></span>
                        Upload de boleto/arquivo
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h2>Lançamentos Realizados</h2>
    <div class="pure-u-1">
        <table class="pure-table pure-table-bordered">
            <thead>
            <tr>
                <th>Imagem</th>
                <th>Título</th>
                <th>Assunto</th>
                <th>Download</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for bol in bols %}
                <tr>
                    <td>
                        {% if bol.imagem %}
                        <img src="{{ bol.imagem.url }}" alt="{{ bol.titulo }}" style="width:100px;">
                        {% else %}
                        <span class="pure-form-message">No imagem</span>
                        {% endif %}
                    </td>
                    <td>{{ bol.titulo }}</td>
                    <td>{{ bol.assunto }}</td>
                    <td>
                        <a href="{{ bol.boleto.url }}" class="pure-button pure-button-active" target="_blank">
                        Download Boleto/Arquivo
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_bol' bol.id %}" style="text-decoration:none">
                          <button class="btn btn-info btn-sm" type="button">Update
                          </button>
                        </a>
                    </td>
                      <!-- retirado exclusão...-->
                    <td>
        
                    <form method="post" action="{% url 'delete_bol' bol.pk %}"> <!--Deve ser 'pk' em urls também-->
                        {% csrf_token %}
                        
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Delete</button>
                    
                    </form>
                    
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--##########################################-->

{% endblock %}