* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    color: #3b8bba;
}
.content {
    padding-top: 0em;
}
.l-box {
    padding: 4em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
    background-color: #2d3e50;
}
.header .pure-menu a {
    color: #fff;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.header .pure-menu-heading {
    float: left;
}
.header ul {
    float: right;
}
.home-menu {
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}
.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.section {
  position: relative;
  padding: 35px 0;
}
.section .background-image {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.section .background-image.background-image-fixed {
  background-attachment: fixed;
}
.section-primary {
  background-color: #f5f5f5 !important;
  color: #0000ff;
}
.section-primary .background-image {
  opacity: 0.5;
}
.section-info {
  background-color: #5bc0de !important;
  color: #ffffff;
}
.section-info .background-image {
  opacity: 0.5;
}
.section-success {
  background-color: #5cb85c !important;
  color: #ffffff;
}
.section-success .background-image {
  opacity: 0.5;
}
.section-warning {
  background-color: #f0ad4e !important;
  color: #ffffff;
}
.section-warning .background-image {
  opacity: 0.5;
}
.section-danger {
  background-color: #d9534f !important;
  color: #ffffff;
}
.section-danger .background-image {
  opacity: 0.5;
}

.cover {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  margin-bottom: 0px !important;
  padding: 0px 0px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  position: relative; 
  height: 600px;
}
.cover h1,
.cover .h1 {
  color: inherit;
}
.cover p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.cover > hr {
  border-top-color: #d5d5d5;
}
.container .cover,
.container-fluid .cover {
  border-radius: 5px;
}
.cover .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 48px 0;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 60px;
    padding-right: 60px;
  }
  .cover h1,
  .cover .h1 {
    font-size: 63px;
  }
}
.cover h1.text-primary {
  color: #f5f5f5 !important;
}
.cover h1.text-inverse {
  color: #ffffff !important;
}
.cover h1.text-info {
  color: #5bc0de !important;
}
.cover h1.text-success {
  color: #5cb85c !important;
}
.cover h1.text-warning {
  color: #f0ad4e !important;
}
.cover h1.text-danger {
  color: #d9534f !important;
}
@media screen and (min-width: 768px) {
  .cover {
    padding: 0px;
  }
  .container .cover,
  .container-fluid .cover {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cover .navbar {
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  background-color: transparent !important;
}
.cover .navbar .navbar-nav li.active a {
  background-color: transparent !important;
}
.cover .navbar .navbar-toggle {
  border-color: transparent;
}
.cover .navbar .navbar-toggle:hover,
.cover .navbar .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar .navbar-toggle .icon-bar {
  background-color: #333333;
}
.cover .navbar.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle:hover,
.cover .navbar.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.cover .cover-image {
  z-index: -1;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cover .cover-image.background-image-fixed,
.cover .cover-image.cover-image-fixed {
  background-attachment: fixed;
}


body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 0 auto;
    padding: 1.5em 1em 0;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 1.5em 3em;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #2d3e50;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    color: #C53F3F;
    display: block;
    margin: 0.3em 0;
    font-size: 0.9em;
    border: none;
    padding: 0;
}
form.pure-form-aligned ul.errorlist li {
    padding-left: 11.5em;
}
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}
.pure-form input[type], .pure-form textarea, .pure-form  select {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    max-width: 350px;
    margin-bottom: 0.3em;
}
.pure-form textarea {
    max-width: 450px;
}
.pure-form .pure-control-group {
    margin-bottom: 1em;
}
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}
.inner {
    padding: 0em 1em;
}
.inner p {
    margin-top: 0;
}
ul.breadcrumb {
    padding: 0;
}
ul.breadcrumb li {
    display: inline-block;
}
ul.breadcrumb li a {
    display: inline-block;
    padding: 0.3em 0.7em;
}


/* ######################################################
                        styles AGENDA
body {
    margin: 0.1em;
    line-height: 1.7em;
}
   ######################################################*/


.l-box {
    padding: 1em;
}
.header {
    margin: 0 0;
}
.header .pure-menu {
    padding: 0.5em;
}
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}
body .primary-button {
    background: #02a6eb;
    color: #fff;
}
.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}
.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}
.footer {
    background: #111;
    color: rgba(82, 74, 196, 0.6);
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

/* Paginação */
.paginator {
  margin-bottom: 20px;
}

.step-links {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.step-links .current {
  margin-left: 5px;
  margin-right: 5px;
}

/* login */

.auth-card {
  margin-bottom: 30px;
}

.change-form-p {
  margin-top: 30px;
  text-align: center;
}